body {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    background-color: cornsilk;
}

/* apply styles to <header> */

header {
    padding: 20px 35px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: black;
    align-content: right;
    color: grey;
    background-color: teal;
}

.name-box {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 100px;
    background: teal;
    overflow: auto;
    border-left: none;
}

#about.me {
  text-align-last: left;
  display: flex;
  flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: cornsilk
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    color: teal;
    font-size: 1.55vw;
    border-bottom: teal;
    text-decoration: underline 4px;
    text-underline-offset: 8px;
    text-decoration-color: teal ;
}

.hero {
    background-image: url(https://cdn.hovia.com/app/uploads/deep-blue-brick-wall-mural-plain-820x532.jpg);
    padding: 20px;
    /* display: flex;
    flex-wrap: wrap;
    align-items: flex-start; */
}

.hero h2 {
    text-align: right;
    color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap;
    width: 36%;
    margin-left: 64%;
    background-color: teal;
    text-align: left;
}

.hero h3 {
    text-align: right;
    color: cornsilk;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    flex-wrap: wrap;
    width: 9%;
    margin-left: 91%;
    background-color: teal;
    text-align: left;
}

.left {
  text-align: left;
  font-size: xx-large;
  color: teal;
  width: 20%;
  font-weight: bolder;
  border-right: teal;
}
/* 
#work-image {
  border: solid 6px;
  background-color: teal;
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  display: flexbox;
} */

/* left column */
/* #my-work {
    font-size: 40px;
    font-display: bold;
    color: teal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
} */

.info {
  justify-content: space-between;
}

#surfreport-section-title {
  background-color: teal;
  color: aliceblue;
  margin-top: 540px;
  width: 20%;
  text-align: center;
  position: absolute;
  font-size: 28px;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#surfreport-section-subtitle {
  background-color: teal;
  color: aliceblue;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}

#surf-report .img-thumbnail {
  border: solid 8px;
  border-color: teal;
  position: absolute;
}


#my-work div section p {
  font-size: 12px;

}

/* section p {
    display: flex;
    justify-content: space-between;
    text-align: right;

} */

/* FOOTER */

/* .contact-me {
    padding: 20px 35px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 

.resume {
    padding: 20px 35px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    image-rendering: auto;
}

.contact-me p {
    size: 2px;
}

footer h3 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer image {
  display: flex;
} */


  .contact {
      background: var(--secondary-color);
  }

  .contact h2 {
      color: var(--primary-color);
  }

  .contact-me {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: right;
      padding: 10px 15px;
      color: black;
      font-size: 1.55vw;
  }

  .contact-info > * {
      flex: 1;
      margin: 15px;
  }

  .contact-form button:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
  }


  /* UTILITIES*/

  .text-left {
      text-align: left;
  }

  .text-right {
      text-align: right;
  }

  .flex-row {
    display: flex;
  }

  MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  /* @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }

    header nav ul li a:hover {
        background: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 15px;
        text-shadow: none;
      }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  }

  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  /* @media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
   
  } */
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
/* /* /* @media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
      }
    
      .section-title {
        width: 95%;
      }
    
      .intro p {
        width: 100%;
      }
    
      .trainer   {
        flex: 0 100%;
      }
    
      .contact-info {
        text-align: center;
      }
    
      .contact-info > * {
        flex: 0 100%;
      }

      .contact-form {
          order: 3;
      } */